<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".ui.RequestListActivity"
            android:exported="true"
            android:label="Network Inspector"
            android:theme="@style/NetworkInspectorTheme" />

        <activity
            android:name=".ui.RequestDetailActivity"
            android:exported="false"
            android:label="Request Details"
            android:parentActivityName=".ui.RequestListActivity"
            android:theme="@style/NetworkInspectorTheme" />

        <receiver
            android:name=".notification.ClearRequestsReceiver"
            android:exported="false" />
    </application>

</manifest>

